.team_container {
  padding: 100px 0;
  background-color: #0b0a08;
  width: 100vw;
  height: 39rem;
}
.team_container > h1 {
  color: aliceblue;
  padding: 35px 0 25px 95px;
  font-size: 80px;
  line-height: 75px;
}
.team_container > p {
  /* position: absolute; */
  z-index: 2;
  width: auto;
  /* left: -500px; */
  margin-left: 6.4rem;
  color: aliceblue;
  font-size: 23px;
  line-height: 21px;
  margin-top: 1rem;
}
.yellow
{
    color: #FFB829;
}
@media(max-width:761px){
  .team_container > h1{
    color: aliceblue;
    /* padding: 0px 0 25px 95px; */
    font-size: 5rem;
    line-height: 75px;
    margin-top: 3rem;
    margin-left: 0rem;


  }
  .team_container > p {
   /* position: absolute; */
    z-index: 2;
    width: auto;
    /* left: -500px; */
    margin-left: 1.4rem;
    color: aliceblue;
    font-size: 23px;
    line-height: 28px;
    margin-top: -3rem;

  }
}