/* .team_container {
    padding: 100px 0;
    background-color:#0B0A08;
    width: 100vw;
    height: 100vh;
}
.team_container >header>h1 {
    color:aliceblue;
    padding: 35px 0 25px 95px;
    font-size: 80px;
    line-height: 75px;
} */